#div_1{
    height: 20px;
    padding: 30px;
    background-color: rgb(40, 40, 104);
}
#h2_1{
    text-align: center;
}

.h2_2{
    font-style: italic;
    
    
}
ul>li{
    font-weight: 600;
}
table th, td{
    border: 2.5px solid black;
    padding: 15px;
}
p{
    font-weight: 600;
}
